<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>User Workshop Progress Tracking Data</title>
<link th:rel="stylesheet"
	th:href="@{webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}" />
</head>
<body>
	<div th:switch="${progressDatas}" class="container">
		<h2 th:case="null">No tracking data available!</h2>
		<div th:case="*" class="row col-lg-10 mt-5 mb-5">
			<h2>User Workshop Progress Tracking Data</h2>
			<table class="table table-bordered" style="width: 100%">
				<thead>
					<tr>
						<th>Step Id</th>
						<th>Tracking Id</th>
						<th>Timestamp</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="progressData : ${progressDatas}">
						<td th:text="${progressData.stepId}"></td>
						<td th:text="${progressData.trackingId}"></td>
						<td th:text="${#temporals.format(progressData.timestamp, 'HH:mm')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>